vc==14.2
_r-mutex==1.0.0
alabaster==0.7.12
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.2
astroid==2.6.6
asttokens==2.0.5
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.6.0
babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==19.10b0
blas==1
bleach==4.1.0
bottleneck==1.3.5
brotli==1.0.9
brotlipy==0.7.0
ca-certificates==2023.01.10
cairo==1.16.0
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.0.0
colorama==0.4.5
cookiecutter==1.7.3
cryptography==37.0.1
cycler==0.11.0
daal4py==2021.5.0
dal==2021.5.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
docutils==0.18.1
entrypoints==0.4
et_xmlfile==1.1.0
executing==0.8.3
expat==2.4.4
flake8==3.9.2
fonttools==4.25.0
freetype==2.10.4
fribidi==1.0.10
getopt-win32==0.1
glib==2.69.1
graphite2==1.3.14
graphviz==2.50.0
gts==0.7.6
harfbuzz==4.3.0
icc_rt==2019.0.0
icu==58.2
idna==3.3
imagesize==1.4.1
imbalanced-learn==0.10.1
importlib-metadata==4.11.3
inflection==0.5.1
intel-openmp==2021.4.0
intervaltree==3.1.0
ipykernel==6.9.1
ipython==8.4.0
ipython_genutils==0.2.0
isort==5.9.3
jedi==0.18.1
jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.2.0
jpeg==9e
json5==0.9.6
jsonschema==4.4.0
jupyter_client==6.1.12
jupyter_core==4.10.0
jupyter_server==1.17.1
jupyterlab==3.3.2
jupyterlab_pygments==0.1.2
jupyterlab_server==2.12.0
kaleido==0.2.1
keyring==23.4.0
kiwisolver==1.4.2
lazy-object-proxy==1.6.0
libffi==3.4.2
libgd==2.3.3
libiconv==1.16
libpng==1.6.37
libsodium==1.0.18
libspatialindex==1.9.3
libtiff==4.2.0
libwebp==1.2.2
llvmlite==0.39.1
lz4-c==1.9.3
m2w64-bwidget==1.9.10
m2w64-bzip2==1.0.6
m2w64-expat==2.1.1
m2w64-fftw==3.3.4
m2w64-flac==1.3.1
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gettext==0.19.7
m2w64-gmp==6.1.0
m2w64-gsl==2.1
m2w64-libiconv==1.14
m2w64-libjpeg-turbo==1.4.2
m2w64-libogg==1.3.2
m2w64-libpng==1.6.21
m2w64-libsndfile==1.0.26
m2w64-libsodium==1.0.10
m2w64-libtiff==4.0.6
m2w64-libvorbis==1.3.5
m2w64-libwinpthread-git==5.0.0.4634.6
m2w64-libxml2==2.9.3
m2w64-mpfr==3.1.4
m2w64-openblas==0.2.19
m2w64-pcre==8.38
m2w64-speex==1.2rc2
m2w64-speexdsp==1.2rc3
m2w64-tcl==8.6.5
m2w64-tk==8.6.5
m2w64-tktable==2.1
m2w64-wineditline==2.101
m2w64-xz==5.2.2
m2w64-zeromq==4.1.4
m2w64-zlib==1.2.8
markupsafe==2.1.1
matplotlib==3.5.1
matplotlib-base==3.5.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
msys2-conda-epoch==20160418
munkres==1.1.4
mypy_extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
nest-asyncio==1.5.5
notebook==6.4.11
numba==0.56.2
numexpr==2.8.3
numpy==1.22.3
numpy-base==1.22.3
numpydoc==1.4.0
openpyxl==3.0.10
openssl==1.1.1t
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
pango==1.50.7
paramiko==2.8.1
parso==0.8.3
pathspec==0.7.0
pcre==8.45
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.2.0
pip==22.1.2
pixman==0.40.0
plotly==5.9.0
pluggy==1.0.0
poyo==0.5.0
prometheus_client==0.13.1
prompt-toolkit==3.0.20
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.2
pycodestyle==2.7.0
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.3.1
pygments==2.11.2
pylint==2.9.6
pyls-spyder==0.4.0
pynacl==1.4.0
pyopenssl==22.0.0
pyparsing==3.0.4
pyqt==5.9.2
pyrsistent==0.18.0
pysocks==1.7.1
python==3.9.12
python-dateutil==2.8.2
python-fastjsonschema==2.15.1
python-graphviz==0.20.1
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
pytz==2022.1
pywin32==302
pywin32-ctypes==0.2.0
pywinpty==2.0.2
pyyaml==6
pyzmq==23.2.0
qdarkstyle==3.0.2
qstylizer==0.1.10
qt==5.9.7
qtawesome==1.0.3
qtconsole==5.3.1
qtpy==2.0.1
r-askpass==1
r-assertthat==0.2.1
r-backports==1.1.4
r-base==3.6.1
r-base64enc==0.1_3
r-bh==1.69.0_1
r-boot==1.3_20
r-broom==0.5.2
r-callr==3.2.0
r-caret==6.0_83
r-cellranger==1.1.0
r-class==7.3_15
r-cli==1.1.0
r-clipr==0.6.0
r-cluster==2.0.8
r-codetools==0.2_16
r-colorspace==1.4_1
r-crayon==1.3.4
r-curl==3.3
r-data.table==1.12.2
r-dbi==1.0.0
r-dbplyr==1.4.0
r-dichromat==2.0_0
r-digest==0.6.18
r-dplyr==0.8.0.1
r-ellipsis==0.1.0
r-essentials==3.6.0
r-evaluate==0.13
r-fansi==0.4.0
r-forcats==0.4.0
r-foreach==1.4.4
r-foreign==0.8_71
r-formatr==1.6
r-fs==1.2.7
r-generics==0.0.2
r-ggplot2==3.1.1
r-glmnet==2.0_16
r-glue==1.3.1
r-gower==0.2.0
r-gtable==0.3.0
r-haven==2.1.0
r-hexbin==1.27.2
r-highr==0.8
r-hms==0.4.2
r-htmltools==0.3.6
r-htmlwidgets==1.5.3
r-httpuv==1.5.5
r-httr==1.4.2
r-ini==0.3.1
r-irkernel==1.0.2
r-iterators==1.0.10
r-jsonlite==1.6
r-kernsmooth==2.23_16
r-knitr==1.30
r-labeling==0.3
r-lambda.r==1.2.4
r-later==1.0.0
r-lattice==0.20_38
r-lava==1.6.7
r-lazyeval==0.2.2
r-lhs==1.1.1
r-lubridate==1.7.4
r-magrittr==1.5
r-markdown==1.1
r-matrix==1.2_14
r-memoise==1.1.0
r-mgcv==1.8_34
r-mime==0.7
r-miniui==0.1.1.1
r-minpack.lm==1.2_1
r-munsell==0.5.0
r-nlme==3.1_137
r-nnet==7.3_12
r-numderiv==2016.8_1.1
r-openssl==1.4.5
r-packrat==0.5.0
r-pbdzmq==0.3_3
r-petit==0.3.0
r-pillar==1.4.2
r-pkgbuild==1.0.3
r-pkgconfig==2.0.3
r-pkgload==1.2.0
r-plogr==0.2.0
r-plyr==1.8.4
r-praise==1.0.0
r-presenter==0.1.5
r-prettyunits==1.1.1
r-processx==3.5.2
r-prodlim==2019.11.13
r-progress==1.2.2
r-promises==1.1.1
r-ps==1.6.0
r-purrr==0.3.0
r-r6==2.5.1
r-randomforest==4.6_14
r-rappdirs==0.3.1
r-raster==3.4_10
r-rcolorbrewer==1.1_2
r-rcpp==1.0.2
r-rcpparmadillo==0.9.850.1.0
r-rcppparallel==5.0.2
r-rcurl==1.98_1.3
r-readr==1.3.1
r-readxl==1.1.0
r-recipes==0.1.15
r-rematch==1.0.1
r-repr==1.0.2
r-reprex==0.3.0
r-reshape==0.8.7
r-reshape2==1.4.3
r-rlang==0.2.2
r-rpart==4.1_15
r-rprojroot==1.3_2
r-rsa==1.3.0
r-rstudioapi==0.11
r-rversions==2.0.1
r-rvest==0.3.2
r-s3vectors==0.31.3
r-scales==1.0.0
r-selectr==0.4_2
r-servr==0.13
r-sessioninfo==1.1.1
r-shiny==1.7.1
r-sourcetools==0.1.7
r-sparklyr==1.5.0
r-sparsem==1.77
r-spatial==7.3_11
r-stringi==1.1.5
r-stringr==1.4.0
r-survival==3.2_3
r-sys==3.4
r-testthat==2.0.1
r-tibble==3.1.0
r-tidyr==1.4.0
r-tidyselect==1.1.1
r-tidyverse==1.3.0
r-tiff==0.1_5
r-tinytex==0.33
r-tseries==0.10_50
r-urca==1.3_0
r-uuid==0.1_4
r-vctrs==0.1.0
r-vegan==2.5_6
r-viridislite==0.4.0
r-waldo==0.2.2
r-wavethresh==4.6.9
r-wdman==0.2.5
r-whisker==0.4
r-withr==2.1.2
r-xfun==0.28
r-xml2==1.2.0
r-xopen==1.0.0
r-xtable==1.8_4
r-xts==0.11_3
r-yaml==2.2.1
r-zeallot==0.1.1
r-zoo==1.8_15
regex==2022.11.2
requests==2.26.0
retrying==1.3.3
rope==0.24.1
rsa==4.8
scikit-image==0.19.5
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.11.2
send2trash==1.7.1
shellingham==1.5.2
simplegeneric==0.8.1
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sphinx==4.5.0
sphinxcontrib==1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.3.5
spyder==5.5.5
spyder-kernels==2.1.1
sqlparse==0.4.2
srsly==2.4.1
statsmodels==0.13.1
sympy==1.9
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.2.0
terminado==0.11.1
testpath==0.5.0
textdistance==5.3.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typed-ast==1.7.3
typing-extensions==3.7.4.3
ujson==4.2.0
unicodecsv==0.15.0
urllib3==1.26.7
watchdog==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
wheel==0.37.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.1
wincertstore==0.2
wrapt==1.13.3
xgboost==1.5.0
xlrd==2.0.1
xlsxwriter==3.0.2
xlwings==0.27.3
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarl==1.7.2
zict==2.1.3
zipp==3.6.0
zmq==0.0.0
